
.advertise {
    padding-top: 50px;
    font-family: Zapf Chancery, cursive;
    font-size: 40px;
    text-align: center;
}
.advertise {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-animation: mymove 10s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 10s infinite;
}

/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 40px;}
}
